# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [10]:
num = 9;
if num % 2 == 0:
  print(num)
else:
  num = num * 3 + 1
  print(num)

28

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [14]:
my_list = list();
if len(my_list) == 0:
  my_list.append(23);
print(my_list)

[23]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [20]:
my_name = "Antonina"
if ("a" in my_name) or ("i" in my_name):
  print("A or I is in the name")
if ("o" in my_name) and ("n" in my_name):
  print("O and N is in the name")
elif ("o" not in my_name) and ("n" in my_name):
  print("Only N is in the name")
else:
  print("There is no N in the name, but there might be O")

A or I is in the name
O and N is in the name

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [26]:
items = ['10', '20', 'a', '30', 'b', '40']
only_digits = [int(item) for item in items if item.isdigit()]
my_list1 = list(range(0, 10))
my_list2 = [number for number in range(9)]
print(only_digits)
print(my_list1)
print(my_list2)

[10, 20, 30, 40]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [25]:
original_dict = {
    'jack': 38,
    'michael': 48,
    'guido': 57,
    'john': 33,
    'sasha': 19}

new_dict = {k: ('old' if v > 40 else 'young')
    for (k, v) in original_dict.items()}
print(new_dict)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young', 'sasha': 'young'}

Comprehensions краще використовувати, якщо вам потрібно виконати прості перетворення або фільтрацію ітерованих структур даних, таких як списки, словники або множини.
Також сomprehensions часто призводить до більш читабельного коду, особливо для простих операцій.
Уникати вартує, коли сomprehension стає надто складним або нечитабельним через вкладені розуміння або кілька умов.
Сomprehension найкраще підходить для створення нових структур даних. Якщо ваша операція має side effects або змінює наявні дані, часто зрозуміліше використовувати традиційні цикли.

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [27]:
my_list = ['hello', 'i', 'dont', 'care']
my_list1 = [value[:3].upper() for value in my_list]
print(my_list1)

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [43]:
for num in range(0, 21):
  if num % 2 != 0:
    print(num)

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [33]:
my_list = [True, True, None, False]
for i in range(len(my_list)):
   my_list[i] = (i, my_list[i])
print(my_list)

[(0, True), (1, True), (2, None), (3, False)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [34]:
my_dict = {
    'It': 3,
    'Fault stars': 10,
    'Bible': 17,
    'Psychological romance': 4,
    'Harry Potter': 13,
    'Thats crazy': 2,
    'Hell or nahh': 14
    }

for book in my_dict:
  my_dict[book] += 5;

print(my_dict)

{'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18, 'Thats crazy': 7, 'Hell or nahh': 19}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [41]:
num = 8
for i in range(num):
  print("#" * (i + 1));
  print()

#

##

###

####

#####

######

#######

########

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [42]:
import random

our_num = random.randrange(1, 20)
user_guess = int(input("Enter a number in range(1, 20): "));
while our_num != user_guess:
  if user_guess < our_num:
    print('Try bigger number')
    user_guess = int(input("Enter a number in range(1, 20): "));
  elif user_guess > our_num:
    print('Try smaller number')
    user_guess = int(input("Enter a number in range(1, 20): "));
  else:
    break
print('Congratulations! You guessed!')

Enter a number in range(1, 20): 5
Try bigger number
Enter a number in range(1, 20): 10
Try bigger number
Enter a number in range(1, 20): 15
Try bigger number
Enter a number in range(1, 20): 19
Try smaller number
Enter a number in range(1, 20): 18
Try smaller number
Enter a number in range(1, 20): 17
Try smaller number
Enter a number in range(1, 20): 16
Congratulations! You guessed!

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.